build/*
bin/
out/
/build*

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

*.o
*.obj
*.so
*.dylib
*.a
*.lib
*.out
*.exe
analyzer

.DS_Store
Thumbs.db
*.swp
*~
.vscode/
.idea/